.counter {
  display: flex;
  justify-content: space-between;
  padding: 32px 56px;

  &__container {
    font-size: 14px;
    font-weight: 400;
    width: 12vw;
  }

  &__title {
    text-align: center;
  }

  &__scope,
  &__completed,
  &__active {
    font-size: 56px;
    font-weight: 600;
  }
}

@media screen and (max-width: 400px) {
  .counter {
    padding: 20px;

    &__container {
      font-size: 16px;
      width: 80px;
    }

    &__scope,
    &__completed,
    &__active {
      font-size: 32px;
    }
  }
}

@media screen and (min-width: 600px) {
  .counter {
    padding: 32px;
  }
}

@media screen and (min-width: 800px) {
  .counter {
    padding: 40px;

    &__container {
      font-size: 24px;

    }
  }
}
