.decoration {
  display: inline-block;
  position: relative;
  height: 64px;
  width: 64px;
  background-color: #889dea;

  border: none;
  &__circle {
    height: 64px;
    width: 64px;
    border-radius: 50%;
    background-color: white;
    border: none;
  }

  &__X {
    position: absolute;
    left: 32px;
    height: 64px;
    width: 32px;
    background-color: white;
    border: none;
  }

  &__Y {
    position: absolute;
    top: 32px;
    height: 32px;
    width: 64px;
    background-color: white;
    border: none;
  }
}
