.plus {
  display: flex;
  justify-content: center;

  &__container {
    position: relative;
    display: inline-block;
    top: -24px;

    height: 48px;
    width: 48px;

    transform: rotate(45deg);

    align-self: center;
    border-radius: 8px;
    background-color: #88eaa9;

    &_Y {
      position: absolute;
      bottom: 24px;
      left: 12px;
      width: 21px;

      transform: rotate(45deg);

      background-color: #fff;
      border: 1px solid #fff ;
      border-radius: 1px;
    }

    &_X {
      position: absolute;
      bottom: 24px;
      left: 12px;
      transform: rotate(-45deg);
      width: 21px;
      border: 1px solid #fff;
      border-radius: 1px;
      background-color: #fff;
    }
  }
}
