.Todo-board {
  padding: 56px;

  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: #889dea;

  &__todo {
    border-bottom: 1px solid #889dea;
    margin-bottom: 15px;
  }

  &__heading {
    display: flex;
    position: relative;
    justify-content: flex-start;
  }

  &__status {
    display: inline-block;
    height: 18px;
    width: 18px;

    color: red;
    border: 1px solid #889dea;
  }

  &__date {
    padding: 4px 8px;
  }

  &__edit {
    box-sizing: border-box;
    position: absolute;

    right: 33px;
    height: 20px;
    width: 20px;

    background-image: url("../images/edit-icon.svg");
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
      border: 0.5px solid #889dea;
    }
  }

  &__delete {
    box-sizing: border-box;
    position: absolute;

    right: 0;
    height: 20px;
    width: 20px;

    background-image: url("../images/delete-icon.svg");
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
      border: 0.5px solid #889dea;
    }
  }

  &__empty {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
  }

  &__text {
    display: block;
    width: 66%;
    margin-left: 6%;
    height: fit-content;
    overflow: hidden;
    border-radius: 5px;

    font-size: 14px;
    line-height: 22px;
    font-family: Poppins, sans-serif;
    background-color: #fff;
    border: none;

    resize: none;
    &:focus {
      outline-color: #fff;
      outline-width: 0;
    }

    &:invalid {
      background-color: #fdd2d2;
    }

    &:focus-within {
      border: none;
    }
  }
}

@media screen and (max-width: 400px) {
  .Todo-board {
    padding: 12px;
  }
}
